{% include 'menu/sidebar.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javier Meza - Diseñador Web</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">

  <!-- Enlazar el archivo CSS 'style_home.css' -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal_info.css') }}">
</head>
<body>
<!-- Contenedor principal -->
<div class="main-container">
  <!-- Contenedor para el triángulo de fondo -->
  <div class="triangle-container"></div>

  <!-- Contenedor para el fondo negro -->
  <div class="black-background"></div>

  <!-- Contenedor para la imagen flotante -->
  <div class="image-section">
    <img alt="Portrait of a man with a serious expression, wearing a dark sweater" height="600" src="./static/imagenes/photo.jpg" width="400"/>
  </div>

  <!-- Contenedor vacio -->
  <div class="content-section-vacio">
  </div>

  <!-- Contenedor de texto -->
  <div class="content-section">
    <h1>LUIS JAVIER MEZA.</h1>
    <h2>WEB DESIGNER AND DATA ANALITYCS </h2>
    <p>
      Soy Analista de Datos, con experiencia en desarrollo de software y control de calidad (QA), radicado en Huancayo, Perú. Me especializo en transformar grandes volúmenes de datos en insights valiosos para la toma de decisiones estratégicas, a la vez que desarrollo soluciones tecnológicas intuitivas y de alto rendimiento. Mi enfoque se centra en crear experiencias digitales funcionales y optimizadas, respaldadas por un análisis detallado y un riguroso control de calidad, garantizando la mejora continua de los procesos y la satisfacción del usuario.
    </p>
    <button class="button alternative" id="myBtn">CONOCE MÁS</button>
  </div>
</div>

<!-- El Modal (Popup) -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
   
    <div id="modalContent">
  
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/button.js') }}"></script>
<script>
  var sobreMiUrl = "{{ url_for('sobre_mi') }}"; // Asignar la URL generada a una variable JavaScript
</script>
<script src="{{ url_for('static', filename='js/modal_info.js') }}"></script>

</body>
</html>


